body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange{
    color: orangered;
}
.flexible{
    display: flex;
    padding-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 95%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, orangered);
    border-radius: 7px;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 2%;
}
#ex{
    margin: 20px;
}
.exp-shadow{
    width: 40%;
    margin: 5%;
    box-shadow: 10px 10px 30px gray;
    padding-left: 20px;
    border-radius: 15px;
    
}
h2{
    font-size: 40px;
}
.exp-background{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#baby-web-developer{
    border-left: 8px solid;
    border-image: linear-gradient(blue,skyblue);
    border-image-slice: 1;
}
#web-developer{
    border-left: 8px solid;
    border-image: linear-gradient(rgb(255, 81, 0),rgb(235, 217, 135));
    border-image-slice: 1;
}
